.settings {
  display: flex;
  min-height: 100vh;
}

.menuOuter {
  width: 220px;
  border-right: 2px solid #ccc;
  padding: 1rem;
  background-color: #f8f8f8;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menuItem {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.menuItem:hover {
  background-color: #918450;
}

.active {
  background-color: #cacaa5;
  font-weight: bold;
}

.mainContent {
  flex: 1;
  padding: 2rem;
}
